/*********VARIABLES*********/

/*COLORS*/

$white: #FFFFFF;

//Greens
$hookit-green: 		#9fdf42;
$hookit-green-hover: #8cc439;
$primary-green:   #36B24C;
$primary-green-hover: #2C953F;

//Yellow
$yellow: #fcd33A;
$yellow-hover: #deba33;

//Blues
$light-blue: #18b9ce;
$light-blue-hover: #149daf;
$blue: #0d7494;
$blue-hover: #095b75;
$dark-blue: #263543;
$dark-blue-hover: #172028;

//Red
$red: #ed4e27;
$red-hover: #cb411f;

//Orange
$orange: #f58f30;
$orange-hover: #d47c29;

//Gray
$darkest-gray: #2c2c2c;
$dark-gray:		 #444444;
$content-gray: #898989;
$alt-gray: 		 #bdbdbd;
$input-gray: 	 #dddddd;
$highlight-gray: #ececec;
$inactive-gray: #f5f5f5;
$table-header-gray: #CFD6DC;


//Social colors
$facebook: #315BA5;
$instagram: #D93075;
$twitter: #60B5F0;
$youtube: #E6292B;

$border-radius: 3px;
$box-shadow: 0px 1px 5px rgba(137,137,137, .5);
